@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1 style="color:darkgreen">About the Company</h1>
    
</div>

<p>
    <b>Habile Business Organization</b> is a joint business venture of a family. It was started off in 1990 with Mr. Nadeem Naqvi, who is currently 
    pursuing his pHd in Chemical Engineering from UET Lahore, leading the team. Mr. Imran Naqvi and Mr.Rizwan Naqvi are co-partners with him in this
    business. The aim was to provide high quality buttons to the huge Textile industry in Pakistan from within Pakistan, as they were mostly being
    imported.   
</p>