@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="color:darkgreen">Contact Us</h1>
</div>

<h3>You may contact us at:</h3>
<p>habilebusinessorganization@gmail.com</p>
<p>0321---------</p>