@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1 style="color:darkgreen">Our Products</h1>
   
</div>
<table align="center">
    <tr>
        <td><h3>Plastic Button</h3></td>
        <td> <img height="250" width="250" src="~/plastic.jpg"/></td>
    </tr>
    <tr>
        <td><h3>Mother of Pearl Button</h3></td>
        <td> <img height="250" width="250" src="~/mop.jpg" /></td>
    </tr>
    <tr>
        <td><h3>Rod Button</h3></td>
        <td> <img height="250" width="250" src="~/Polyester_Horn_Button_Rod_Flower_Button_.jpg" /></td>
    </tr>
    <tr>
        <td><h3>Horn Button</h3></td>
        <td> <img height="250" width="250" src="~/horn.jpg" /></td>
    </tr>
    <tr>
        <td><h3>Laser Button</h3></td>
        <td> <img height="250" width="250" src="~/simple-laser-buttons.jpg" /></td>
    </tr>
    <tr>
        <td><h3>Goli Button</h3></td>
        <td> <img height="250" width="250" src="~/goli-button.jpg" /></td>
    </tr>
    <tr>
        <td><h3>Zips</h3></td>
        <td> <img height="250" width="250" src="~/zips.jpg" /></td>
    </tr>
    <tr>
        <td><h3>Fusing</h3></td>
        <td> <img height="250" width="250" src="~/fusing.jpg" /></td>
    </tr>
</table>
